<section class="articles">
  <mat-card class="card" *ngFor="let article of articles">
    <mat-card-header>
      <mat-card-title class="title" [routerLink]="['/article', article.id]">
        {{ article.title }}
      </mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>{{ article.body | slice: 0:150 }}...</p>
    </mat-card-content>
  </mat-card>
</section>
